html, body, div { margin: 0; padding: 0; border: 0 none; }
@font-face { font-family: 'LibertinusMono'; src: url('./fonts/LibertinusMono.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Danfo'; src: url('./fonts/Danfo.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'SpecialGothic'; src: url('./fonts/SpecialGothicExpandedOne.ttf') format('truetype'); font-weight: normal; font-style: normal; }
body { font-family: LibertinusMono, sans-serif; background-image: url("./bg/index.webp"); background-repeat: repeat; background-size: 100% auto; }

#container { width: 960px; height: auto; margin: 25px auto; background-color: #180925; border: 3px solid #fff; padding: 30px; color: white; box-shadow: 0 0 30px 0 black; }
#content { width: 960px; float: left;}

a { text-decoration: none; color: lightblue; }
a:hover { font-style: italic; }
a:visited { color: lightblue; text-decoration: inherit; }
a.current { color: black; background-color: lightblue; }
h1 { font-family: Danfo, sans; letter-spacing: 15px; background-color: yellow; color: black; text-align: center;}

#nav { font-family: SpecialGothic, sans-serif; }
#nav a:hover { text-decoration: wavy underline; font-style: normal; }

#footer { clear: both; padding-top: 10px; font-weight: bold; text-align: center; }
#footer a { color: yellow; }
#footer a:hover { color: white; text-decoration: wavy underline; }

#frame { font-family: serif-sans; border: 1px solid white; max-width: 55ch; padding: 10px; background-color: #22290D; text-align: justify; }
