html, body, div { margin: 0; padding: 0; border: 0 none; }
#container { width: 960px; padding: 30px; margin: 25px auto; background-color: black; color: white; border: 3px solid #fff; box-shadow: 0 0 30px 0 black; }
@font-face { font-family: 'LibertinusMono'; src: url('../fonts/LibertinusMono.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Danfo'; src: url('../fonts/Danfo.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'SpecialGothic'; src: url('../fonts/SpecialGothicExpandedOne.ttf') format('truetype'); font-weight: normal; font-style: normal; }
body { font-family: LibertinusMono; background-image: url("./a.jpg"); background-repeat: repeat; background-color: black; }
hr { border: 0; border-top: 1px solid black; margin: 20px; }

#nav { font-family: SpecialGothic, sans-serif; }
#thoughts { text-align: justify; }
a { text-decoration: none; color: lightblue; }
a:hover { text-decoration: wavy underline; }
a:visited { color: lightblue; text-decoration: inherit; }
a.current { color: black; background-color: lightblue; }
h1 { font-family: Danfo, sans; letter-spacing: 15px; background-color: yellow; color: black; text-align: center;}
